.field {
	position: relative;

	&__input {
		height: var(--input-height);
		width: 350px;
		padding: 10px 16px;
		border: none;

		@include mobile {
			width: 255px;
		}

		&::placeholder {
			color: var(--color-gray);
		}

		@include hover {
			background-color: var(--color-gray);

			&::placeholder {
				color: var(--color-light);
			}
		}

		&:focus {
			&:placeholder-shown {
				background-color: var(--color-light);
				outline: var(--outline);
				outline-offset: 2px;

				&::placeholder {
					color: var(--color-gray);
				}
			}
		}

		&:invalid:not(:placeholder-shown) {
			border: 1px solid var(--color-red);
		}

		&:not(:placeholder-shown) {
			outline: 0;
			color: var(--color-dark);
			background-color: var(--color-gray);
		}
	}

	&__error {
		display: none;
		color: var(--color-red);
		position: absolute;

		left: 16px;
		bottom: 100%;
	}

	&__input:invalid:not(:placeholder-shown) + &__error {
		display: block;
	}
}
